@import 'variables';

.text-truncate-container {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.color-primary {
    color: var(--primary-color);
}

.course-feature i {
    margin-right: 8px;
}
