<div class="mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="h1 fw-bold">{{this.name}}</div>
            <p class="">{{this.description}}</p>
            <div class="h4 fw-bold">Nội dung khóa học</div>
            <div class="d-flex justify-content-between">
                <div>
                    <span>11</span> chương  &#x2022;
                    <span>138</span> bài học &#x2022;
                    Thời lượng <span>10 giờ 29 phút</span> 
                </div>
                <button class="btn fw-bold color-primary">Mở rộng tất cả</button>        
            </div>
        </div>

        <div class="col-lg-4 d-flex flex-column align-items-center gap-2">
            <div class="" style="width: 100%; height: 15vw;">
                <iframe class="mb-2 w-100 h-100" src="https://www.youtube.com/embed/{{this.videoId}}"></iframe>
            </div>
            <div class="h2 courses-price color-primary mb-2">Miễn phí</div>
            <button class="btn btn-primary text-uppercase w-50 rounded-pill mb-2">Đăng ký học</button>
            <ul class="course-feature list-unstyled d-inline-block">
                <li><i class="fa-sharp fa-solid fa-gauge"></i>Trình độ cơ bản</li>
                <li><i class="fa-solid fa-film"></i>Tổng số 318 bài học</li>
                <li><i class="fa-solid fa-clock"></i>Thời lượng 10 giờ 29 phút</li>
                <li><i class="fa-solid fa-battery-full"></i>Học mọi lúc, mọi nơi</li>
            </ul>
        </div>
    </div>
</div>